# Build artifacts
build/
build/bin/*.exe
build/bin/*.dll
build/bin/*.pdb
build/obj/
*.o
*.d

# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Executables
runner
*.exe

# Chess engines
engines/*.exe

# Large datasets / local data
puzzel_lichess/

# Misc local files
gdbSession
myVimSession.vim
